<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Affirmations</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Londrina+Solid:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
  <section class="wholeThing">
    <section class="title">
      <h1 id="black">What brings you joy?</h1>
      <h1>What are you grateful for?</h1>
      <h2>Notes of things that bring us joy that we are grateful for</h2>
      <p id="descriptor">
        I see people joyful all the time and wonder what makes them happy. What are the things that make you feel grateful. Use this a gratitude journal and upvote the notes that make you smile!
      </p>
    </section>
    <section class="notesFromOthers">
      <section class="othersTitle">
        <img src="cupcake.jpg" id="smiles">
      <h3 id="othersTitle">Notes from others</h3>
      <h2 id="read">Read and react to the notes other people left behind.</h2>
    </section>
      <ul class="messages">
        <% for(var i=0; i<messages.length; i++) {%>
          <li class="message">
            <span><%=messages[i].msg%></span><br><br>
            <span><%=messages[i].thumbUp%></span>
            <span id="<%=messages[i]._id%>"></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
      </ul>
    </section>
    <section class="yourNote">
      <h3 id="noteTitle">Your note</h3>
      <form action="/messages" method="POST" >
        <textarea type="text" placeholder="" name="msg"></textarea>
        <button type="submit">add your note to the message board</button>
      </form>
    </section>
  </section>
  <script src="main.js"></script>

</body>

</html>
